.hero-image {
    width: 65%;
}

.container.marketing {
    background-color: white;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
}

BODY {
    background-color: #ddd;
}